@font-face {
    font-family: 'Nekst';
    src: local('Nekst Black'), local('Nekst-Black'),
    url('/src/assets/fonts/nekst/nekst-black.woff2') format('woff2'),
    url('/src/assets/fonts/nekst/nekst-black.woff') format('woff'),
    url('/src/assets/fonts/nekst/nekst-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/src/assets/fonts/gilroy/gilroy-regular.woff2') format('woff2'),
    url('/src/assets/fonts/gilroy/gilroy-regular.woff') format('woff'),
    url('/src/assets/fonts/gilroy/gilroy-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}